body,
html {
  margin: 0;
  padding: 0;
  background-color: #adebeb;
  height:100%;
}
.container-class{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:100%;
}

.topnav {
  background-color: papayawhip;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: lightgrey;
  color: black;
}

.topnav a.active {
  background-color: papayawhip;
  color: black;
}

#talkbubble {
  width: 300px;
  height: 300px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 3px solid #0077b3;

}


#talkbubble2 {
  width: 250px;
  height: 250px;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 35px;
  border: 3px solid #0077b3;
  top: 25px;
}

#talkbubble3 {
  width: 250px;
  height: 250px;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 35px;
  border: 3px solid #0077b3;
  top: 25px;
}

#naziv {
  position: absolute;
  background: #adebeb;
  width: 150px;
  text-align: center;
  left: 74px;
  top: -12px;
  color: #0077b3;
}

#naziv2{
  position: absolute;
  background: #adebeb;
  width: 150px;
  text-align: center;
  left: 52px;
  top: -12px;
  color: #0077b3;
}

#naziv3{
  position: absolute;
  background: #adebeb;
  width: 150px;
  text-align: center;
  left: 52px;
  top: -12px;
  color: #0077b3;
}

.container {
  height: 100%;
}

.container2{
  height: 100%;
}

.container3{
  height: 100%;
}

.predmet {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0077b3;
  font-size: 25px;
}

.predmet2{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0077b3;
  font-size: 25px;
}

.predmet3{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0077b3;
  font-size: 25px;
}

.aktivnosti {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: #0077b3;
}

.aktivnosti2{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: #0077b3;
}

.aktivnosti3{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: #0077b3;
}