body{

    background-color: white;
}

#sve{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width:100%
    
}

#forma-container{
border: 8px solid;
border-color: white;
padding: 30px;
background: #a3a375;
}

.forma {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  width:100%
}

.form-polje {
  display: flex;
  flex-direction:row;
  align-items:center;
  width: 50%;
  margin-bottom: 10px;
}

.label {
  width: 20%;
}

input[type=number] {
    width: 20%;
    margin-left: 4px;
    padding: 2px;
}

input[type=text] {
    width: 20%;
    margin-left: 4px;
    padding: 2px;
}

select[id=danused]{
    width: 82%;
    margin-left: 17px;
    padding: 7px;
   
}

select[id=piliv]{
    width: 82%;
    margin-left: 17px;
    padding: 7px;
}